.dashboard {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.game-container {
  position: relative;
  .game-over {
    position: absolute;
    transform: translateY(50%);
    text-align: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 50px;
  }
}

.spinner {
  width: 200px;
  height: 200px;
}
