.title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .link {
    padding: 5px;
    margin: 3px;
    border-radius: 2px;
    background: antiquewhite;
    font-family: "Press Start 2P", cursive;
    cursor: pointer;
    outline: none;

  }
}

.game-board {
  display: flex;
  justify-content: center;
  transform: translateY(40px);
}
